.dockerignore
node_modules
npm-debug.log
Dockerfile
.git
.gitignore
.npmrc
.env

/build

publish-thcs-frontend.sh
publish-thcs-frontend-prd.sh
publish-thcs-frontend-hml.sh
publish-thcs-frontend-qa.sh

run-thcs-frontend-web-prd.sh
run-thcs-frontend-web-hml.sh

thcs-google-credentials.json

.env.prd
.env.hml
.env.qa